---
import dogImage from "../assets/dog.svg";
---

<section
  class="flex flex-col md:flex-row items-center justify-center gap-6 mx-auto max-w-5xl xl:px-8 px-4 py-12"
>
  <div class="flex-1 flex flex-col gap-6 items-start">
    <h1 class="text-headline text-6xl font-semibold">
      Clínica veterinaria hasta tu hogar
    </h1>
    <p class="text-secondary text-xl mt-4 leading-[1.6]">
      Nuestro equipo de veterinarios especializados está comprometido con la
      salud y calidad de vida de cada animal, ofreciendo servicios de consulta,
      vacunación, desparasitación, atención de emergencias y más.
    </p>
    <a
      href="https://wa.me/527721041190"
      target="_blank"
      class="bg-primary px-6 py-2.5 rounded text-dark text-lg font-semibold"
    >
      Agendar cita ahora
    </a>
  </div>
  <div class="flex-1">
    <img
      src={dogImage.src}
      alt="Pony"
      class="aspect-square bg-main rounded-3xl drop-shadow-lg"
    />
  </div>
</section>
