---

---

<nav class="min-h-24 bg-background z-[1]">
  <div class="flex justify-between items-center p-8 mx-auto max-w-5xl">
    <h1 class="text-3xl text-headline font-semibold">
      <a href="/" class="">PonyVet</a>
    </h1>
    <ul class="flex gap-8 text-xl text-headline font-normal">
      <li>
        <a href="#about">Acerca de</a>
      </li>
      <li>
        <a href="#services">Servicios</a>
      </li>
      <li>
        <a href="#contact">Contactos</a>
      </li>
    </ul>
  </div>
</nav>
